===================
APP CONFIGURATION
===================
APP_NAME=Lite
## change to production in production
APP_ENV=local
## chnage to true in production
APP_DEBUG=true
## change url based on actual url provided by hosting provider
APP_URL=http://localhost:3000
VIEW_CACHE=false


===================
DATABASE CONFIGURATION
===================
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=

===================
SESSION CONFIGURATION
===================
SESSION_NAME=lite_session
SESSION_LIFETIME=120
SESSION_DOMAIN=
SESSION_SAMESITE=Lax

===================
MAIL CONFIGURATION
===================
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=Lite

================================================================
APP KEY AND JWT SECRET HERE (auto injected once you run the cli)
================================================================


 ## false in production
VITE_DEV=true  
## change url based on actual url provided by hosting provider
VITE_URL=http://localhost:5173     